// Colors
$primary_color: #2C2738;
$secondary_color: #756F86;
$muted_color: #7C9CBF;
$bright_color: #fff;
$shade_color: #DBE2EA;
$tint_color: #EBF4F8;
$accent_color: #0880AE;
$warning_color: #F2AC57;
$succes_color: #14A38B;
$error_color: #FF7171;

// Fonts
$plex_sans: 'IBM Plex Sans', sans-serif;
$regular: 400;
$semi_bold: 600;

$title: 56px;
$card_title: 28px;
$text: 20px;
$small_text: 16px;